/* Common */
* { margin: 0; padding: 0; }
table { border-collapse: collapse; }

html { height: 100%;
  /* color: white; */
  font-size: 13px;
}
body { height: 100%; }
.scrollable { overflow-y: auto; }

/* App */
.layout.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #252526; */
  /* background-color: rgb(24,24,24); */
}

/* SplitView */
.split-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.split-view .sash-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.split-view .sash-container .sash {
  pointer-events: initial;
}

.sash {
  position: absolute;
  z-index: 35;
  touch-action: none;
}

.sash.mac.vertical { cursor: col-resize; }
.sash.vertical.minimum { cursor: e-resize; }
.sash.vertical.maximum { cursor: w-resize; }

.sash.mac.horizontal { cursor: row-resize; }
.sash.horizontal.minimum { cursor: s-resize; }
.sash.horizontal.maximum { cursor: n-resize; }

.sash.disabled {
  cursor: default !important;
  pointer-events: none !important;
}

.sash.vertical {
  cursor: ew-resize;
  top: 0;
  width: 4px;
  height: 100%;
}

.sash.horizontal {
  cursor: ns-resize;
  left: 0;
  width: 100%;
  height: 4px;
}

.sash:before {
  content: '';
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.sash.hover:before,
.sash.active:before {
  background: rgb(0 120 212); /* var(--vscode-sash-hoverBorder); */
}

.sash.vertical:before {
  width: 4px;
  left: calc(50% - (4px / 2));
}

.sash.horizontal:before {
  height: 4px;
  top: calc(50% - (4px / 2));
}

.split-view .split-view-container {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  position: relative;
}

.split-view .split-view-container .split-view-view {
  white-space: initial;
  position: absolute;
  /* display: flex; */
}

/* .split-view .split-view-container .split-view-view:not(.visible) {
  display: none;
} */

.split-view.vertical > .split-view-container .split-view-view {
  width: 100%;
}

.split-view.horizontal > .split-view-container .split-view-view {
  height: 100%;
}

.split-view > .split-view-container > .split-view-view:not(:first-child)::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.09);
}

.split-view.horizontal > .split-view-container > .split-view-view:not(:first-child)::before {
  height: 100%;
  width: 1px;
}

.split-view.vertical > .split-view-container > .split-view-view:not(:first-child)::before {
  height: 1px;
  width: 100%;
}

/* Titlebar */
.part.titlebar {
  /* padding-left: 80px; */
  border-bottom: 1px solid rgb(176,176,176);
  height: 83px;
  width: 100%;
  display: flex;
  /* background-color: grey; */
  flex-direction: column;
  user-select: none;
  /* -webkit-user-select: none; */
}

.titlebar .menubar {
  /* background-color: pink; */
  /* padding-left: 80px; */
  height: 31px;
  position: relative;
  -webkit-app-region: drag;
  display: flex;
  line-height: 22px;
}

.titlebar .menubar .left {
  display: flex;
  align-items: center;
  font-size: 14px;
  outline: none;
}

.menubar .button {
  position: relative;
  -webkit-app-region: no-drag;
  white-space: nowrap;
}

.menubar .button:hover, .menubar .button.on {
  background-color: rgb(227,227,227);
  border-radius: 3px;
}

.menubar .button.hamburger {
  display: none;
  width: 22px;
  height: 22px;
  padding: 0 8px;
  align-items: center;
  justify-content: center;
  /* vertical-align: sub; */
}

/* @media (max-width:716px) {
  .menubar .button { display: none; }
  .menubar .button.hamburger {
    display: flex;
  }
} */

.menubar .button .title {
  padding: 0px 8px;
}

.menubar .button .menubox {
  display: none;
  position: absolute;
  z-index: 5;
  background: rgb(242,242,242);
  border: 1px solid rgb(185,185,185);
  left: 0;
  top: 100%;
}

.menubar .button .sub.menubox {
  left: calc(100% + 0px);
  top: -4px;
}

.menubar .button.on > .menubox { display: block; }

.menubar .button ul { padding: 4px 0; border-radius: 5px; }

.menubar .button ul li {
  list-style: none;
  position: relative;
  align-items: center;
}

.menubar .button ul li a { display: flex;
  margin: 0 4px;
  padding: 0 8px;
}

.menubar .button ul li a.separator {
  border-bottom: 1px solid;
  border-bottom-color: rgb(215,215,215);
  margin: 5px;
  padding: 0;
  height: 0;
}

.menubar .button ul li:hover > a { background-color: rgb(80,162,255); border-radius: 5px; color: white; }
.menubar .button ul li:hover > .menubox { display: block; }
.menubar .button ul li a span {}

.menubar .button ul li .padding { flex: 1; min-width: 20px; }
.menubar .button ul li .keybinding {}
.menubar .button ul li .indicator {
  padding-top: 2px;
}

.menubar .button ul li .indicator::before {}

.titlebar .menubar .middle { flex: 1; }
.titlebar .menubar .right {
  /* position: absolute; right: 1px; */
  /* width: 114px; */
}

.titlebar .menubar .right .codicon {
  width: 21px;
  height: 21px;
  font-size: 21px;
  -webkit-app-region: no-drag;
  padding: 0 8px;
  margin-right: 1px;
}

.titlebar .menubar .right .codicon:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}

.titlebar .menubar .right .codicon.close:hover {
  background-color: rgb(232, 17, 35);
  color: white;
}

.titlebar .iconbar { display: flex; flex: 1; }

.titlebar .iconbar .group {
  /* display: flex;
  flex-direction: column; */
  padding: 0 8px;
  /* border-right: 1px solid grey; */
  position: relative;
}

/* 구분선 */
.titlebar .iconbar .group:before {
  content: "";
  position: absolute;
  top: 5px; right:0;
  height: calc(100% - 10px);
  width: 0;
  border-right: 1px solid;
  color: rgb(172, 172, 172);
}

.titlebar .iconbar .group:last-child:before { border: none; }

.titlebar .iconbar .group .wrap {
  display: flex;
  justify-content: center;
  margin-top: 6px; height: 26px;
}

.titlebar .iconbar .group .label {
  height: 20px; width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.titlebar .iconbar .group .codicon {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 20px;
  height: 20px;
  font-size: 20px;
  -webkit-app-region: no-drag;
  margin: 0 6px;
  padding: 3px;
}

.titlebar .iconbar .group .codicon:hover {
  background-color: rgba(0,0,0,0.16);
  border-radius: 4px;
  cursor: pointer;
}

/* Body */
.layout.body {
  /* background-color: rgb(255, 0, 255); rgb(31, 31, 31); */
  /* flex-grow: 1; */
  position: relative; width: 100%; height: 100%;
}

.group-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.tabs { height: 26px; display: flex; }
.tabs .tab {
  flex: 1;
  background-color: rgb(208,208,208);
  border-style: solid;
  border-color: rgb(176,176,176);
  border-width: 0 0 1px 1px;
  display: flex;
  padding-left: 8px;
  align-items: center;
}
.tabs .tab .label { margin-left: 5px; }
.tabs .tab:hover { cursor: pointer; }
.tabs .tab:hover a.codicon::before { content: '\ea76'; }
.tabs .tab a.codicon { padding: 2px; }
.tabs .tab a.codicon:hover { background-color: rgba(90,93,94,0.31); border-radius: 5px; }

.tabs .tab.active { background-color: rgb(240,240,240); border-bottom-width: 0; }
.tabs .tab:last-child { /* border-right-width: 1px; */ }

.compares {
  /* height: 100%; */
  /* flex: 1; */
  height: calc(100% - 26px);
}


/* file compare view */
.file-compare-view.active { display: flex; }
.file-compare-view * {
  /* border: 1px solid black;  */
}
.file-compare-view { display: none; flex-direction: column; height: 100%;
  background-color: rgb(240,240,240);
  position: relative;
  padding: 8px 8px 0;
}
.file-compare-view ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.file-compare-view .inputs { display: flex; flex: 0; margin-bottom: 8px; }
.file-compare-view .inputs .lhs, .file-compare-view .inputs .rhs { flex: 1; }
.file-compare-view .inputs .input-margin { width: 45px; }

/* .file-compare-view .suggests { position: absolute;
  width: 100%;
  top: 39px;
  display: flex;
}
.file-compare-view .suggests .suggest-column { flex: 1; } */

/* .file-compare-view #mergely { */
.file-compare-view > .mergely {
  /* flex: 1; overflow: hidden; position: relative; */
  height: calc(100% - 8px - 29px - 8px);
}

.file-compare-view .mergely-editor .mergely-margin canvas { width: 16px; }
.file-compare-view .mergely-editor .mergely-canvas canvas { width: 45px; }

/* folder compare view */
.folder-compare-view.active {
  /* display: flex; */
  display: block;
}
.folder-compare-view * { /* border: 1px solid black; */ }
.folder-compare-view *:focus { outline: none; }
.folder-compare-view *.focus { border: 1px solid rgb(86,157,229); }

.folder-compare-view { display: none; flex-direction: column;
  background-color: rgb(240,240,240);
  height: calc(100% - 8px);
  /* padding: 0 8px; */
  padding: 8px 8px 0 8px;
  position: relative;
}

.folder-compare-view .inputs { display: flex;
  /* flex: 0; */
  margin-bottom: 8px;
}
.folder-compare-view .inputs .lhs, .folder-compare-view .inputs .rhs { flex: 1; }
/* .folder-compare-view .inputs input {
  height: 23px; border: 1px solid rgb(122,122,122); padding: 3px;
}
.folder-compare-view .inputs .lhs, .folder-compare-view .inputs .rhs {
  flex: 1; display: flex;
} */
.folder-compare-view .inputs .input-margin { width: 28px; }

/* .folder-compare-view .suggests {
  position: absolute;
  width: 100%;
  top: 39px;
  height: 266px;
  display: flex;
}
.folder-compare-view .suggests .suggest-column { flex: 1; }
.folder-compare-view .suggests .suggest-margin { width: 28px; } */


.folder-compare-view .lists {
  position: relative;
  /* flex: 1; */
  height: calc(100% - 39px - 1px - 2px); /* inputs height - focus border */
  display: flex; flex-direction: column;
  overflow: hidden;
  background-color: white;
  caret-color: transparent;
  border: 1px solid rgb(122,122,122);
  cursor: default;
}
.folder-compare-view .lists.focus { border: 1px solid rgb(86,157,229); }

.folder-compare-view .lists ::-webkit-scrollbar {
  width: 0; height: 0;
}

.folder-compare-view .lists .header { width: 100%; display: flex; flex: 0;
  border-bottom: 1px solid rgb(122,122,122);
  font-size: 14px;
}
.folder-compare-view .lists .header .list-column { flex: 1; }
.folder-compare-view .lists .header .list-changes { width: 59px; }
.folder-compare-view .lists .header .list-column, .folder-compare-view .lists .header .list-changes {
  padding: 3px;
}
.folder-compare-view .lists .header .list-margin.lhs { width: 13px; }
.folder-compare-view .lists .header .list-margin.rhs { width: 16px; }
.folder-compare-view .lists .header > div { border-right: 1px solid rgb(122,122,122); }
.folder-compare-view .lists .header > div:last-child { border-right-width: 0; }

.folder-compare-view .lists .body {
  overflow: hidden;
  flex: 1;
  display: flex;
  position: relative;
  /* padding: 0 8px; */
}

.folder-compare-view .lists .body > * {
  /* z-index: 10; */
  /* border: 1px solid black; */
}

.folder-compare-view .lists .body .list-margin.lhs { width: 13px; }
.folder-compare-view .lists .body .list-margin.rhs { width: 16px; }
.folder-compare-view .lists .body .list-column { flex: 1;
  z-index: 1; pointer-events: none; /* feat. grok */
}
.folder-compare-view .lists .body .list-changes {
  width: 59px;
  z-index: 1; pointer-events: none;
}
.folder-compare-view .lists .body .list-scrollable { flex: 1; display: flex;
  overflow: hidden auto;
  position: relative;
}
.folder-compare-view .lists .body .list-scrollbar { position: absolute; }
.folder-compare-view .lists .body .list-scrollbar.vertical { width: 16px; height: calc(100% - 1px); top: 0; right: 1px; }
.folder-compare-view .lists .body .list-scrollbar.horizontal { height: 16px; width: 100%; left: 0; bottom: 0; }

.folder-compare-view .lists .body .list-selectbar {
  position: absolute;
  /* width: calc(100% - 16px); */
  width: 100%;
  height: 100%;
  /* display: none; */
}

.folder-compare-view .lists .tree { width: 100%; height: 100%; }
.folder-compare-view .lists .tree .codicon { display: flex; }

.folder-compare-view .lists .node {
  width: 100%; padding-left: 4px;
  /* font-size: 14px; */
  /* line-height: 28px; */
  /* min-height: 22px; */
  /* border: 1px solid black; */
}

.folder-compare-view .lists .list-selectbar .node.changed > .content { background-color: rgb(218,205,230); }
.folder-compare-view .lists .list-selectbar .node.removed > .content { background-color: rgb(243,230,216); }
.folder-compare-view .lists .list-selectbar .node.inserted > .content { background-color: rgb(209,232,207); }

.folder-compare-view .lists .list-selectbar .node.selected > .content {
  /* background-color: rgb(71 85 102); border-radius: 4px; */
  background-color: rgba(0,99,225);
}

.folder-compare-view .lists .node.selected > .content {
  color: white;
}

.folder-compare-view .lists .node .content {
  /* margin: 2px 0; */
  display: flex; align-items: center;
  min-height: 18px;
}
.folder-compare-view .lists .node .ln-header { width: 20px; }
.folder-compare-view .lists .node .ln-header .arrow { cursor: pointer; transform: rotate(90deg);
  pointer-events: auto;
}
.folder-compare-view .lists .node.collapsed .ln-header .arrow { transform: rotate(0); }
.folder-compare-view .lists .node.collapsed > .node {
  display: none;
}
.folder-compare-view .lists .node .ln-body { width: 100%; }

.folder-compare-view .lists .list-selectbar .node,
.folder-compare-view .lists .list-changes .node {
  padding: 0;
}
.folder-compare-view .lists .list-changes .node .content {
  justify-content: center;
}


/* Input */
.input { position: relative; }
.input input {
  width: calc(100% - 16px - 2px); /* - padding - border */
  height: 23px;
  border: 1px solid rgb(122,122,122);
  /* padding: 3px; */
  padding: 2px 8px;
}
.input .related {
  display: none;
  position: absolute;
  width: calc(100% - 2px);
  top: 29px;
  height: 266px;
  background-color: white; /* rgba(255, 255, 255, 0.9); */
  border: 1px solid rgb(138,138,138);
  border-top: 0;
  z-index: 5;
  box-shadow: black 0 3px 2px -2px;
  /* box-shadow: 0 0 8px 2px black; */
  overflow-y: auto;
  white-space: nowrap;
}

.input .related li {
  list-style-type: none;
  cursor: default;
}

.input .related li a {
  width: calc(100% - 16px);
  padding: 2px 8px;
  display: block;
}

.input .related li.on a {
  background-color: rgb(208,208,208);
}

/* StatusBar */
.part.statusbar {
  height: 22px;
  width: calc(100% - 16px);
  display: flex;
  /* background-color: orangered; */
  background-color: rgb(240,240,240);
  /* margin-top: 1px; */
  padding: 0 8px;
  align-items: center;
}

.part.statusbar span {}