/* Common */
* { margin: 0; padding: 0; }
html { height: 100%;
  /* color: white; */
}
body { height: 100%; }

/* App */
.layout.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #252526; */
  /* background-color: rgb(24,24,24); */
}

/* SplitView */
.split-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.split-view .sash-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.split-view .sash-container .sash {
  pointer-events: initial;
}

.sash {
  position: absolute;
  z-index: 35;
  touch-action: none;
}

.sash.mac.vertical { cursor: col-resize; }
.sash.vertical.minimum { cursor: e-resize; }
.sash.vertical.maximum { cursor: w-resize; }

.sash.mac.horizontal { cursor: row-resize; }
.sash.horizontal.minimum { cursor: s-resize; }
.sash.horizontal.maximum { cursor: n-resize; }

.sash.disabled {
  cursor: default !important;
  pointer-events: none !important;
}

.sash.vertical {
  cursor: ew-resize;
  top: 0;
  width: 4px;
  height: 100%;
}

.sash.horizontal {
  cursor: ns-resize;
  left: 0;
  width: 100%;
  height: 4px;
}

.sash:before {
  content: '';
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
}

.sash.hover:before,
.sash.active:before {
  background: rgb(0 120 212); /* var(--vscode-sash-hoverBorder); */
}

.sash.vertical:before {
  width: 4px;
  left: calc(50% - (4px / 2));
}

.sash.horizontal:before {
  height: 4px;
  top: calc(50% - (4px / 2));
}

.split-view .split-view-container {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  position: relative;
}

.split-view .split-view-container .split-view-view {
  white-space: initial;
  position: absolute;
  /* display: flex; */
}

/* .split-view .split-view-container .split-view-view:not(.visible) {
  display: none;
} */

.split-view.vertical > .split-view-container .split-view-view {
  width: 100%;
}

.split-view.horizontal > .split-view-container .split-view-view {
  height: 100%;
}

.split-view > .split-view-container > .split-view-view:not(:first-child)::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.09);
}

.split-view.horizontal > .split-view-container > .split-view-view:not(:first-child)::before {
  height: 100%;
  width: 1px;
}

.split-view.vertical > .split-view-container > .split-view-view:not(:first-child)::before {
  height: 1px;
  width: 100%;
}

/* Titlebar */
.part.titlebar {
  /* padding-left: 80px; */
  border-bottom: 1px solid rgb(43, 43, 43);
  height: 42px;
  width: 100%;
  display: flex;
  /* background-color: grey; */
}

.titlebar .codicon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  font-size: 24px;
}

.titlebar .codicon:hover {
  background-color: rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.titlebar .left { display: flex; padding-left: 80px; }

.titlebar .center {
  width: 100%;
  height: 100%;
  align-items: center;
  /* justify-content: center; */
  display: flex;
}

.titlebar .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.titlebar .right .codicon.codicon-settings-gear {
  font-size: 16px;
}

/* Body */
.layout.body {
  /* background-color: rgb(255, 0, 255); rgb(31, 31, 31); */
  /* flex-grow: 1; */
  position: relative; width: 100%; height: 100%;
}

.group-view { height: 100%; }
.compares { height: 100%; }

/* folder compare view */
.folder-compare-view * { /* border: 1px solid black; */ }
.folder-compare-view { display: flex; flex-direction: column; height: 100%; }
.folder-compare-view .inputs { display: flex; flex: 0; }
.folder-compare-view .inputs .lhs, .folder-compare-view .inputs .rhs { flex: 1; display: flex; }
.folder-compare-view .inputs .input-margin { width: 28px; }

.folder-compare-view .suggests { position: absolute; width: 100%; height: calc(100% - 21.5px); display: flex; top: 21.5px; }
.folder-compare-view .suggests .suggest-column { flex: 1; }

.folder-compare-view .lists { overflow: hidden; height: 100%; position: relative; flex: 1; display: flex; flex-direction: column; }

.folder-compare-view .lists .list-column { flex: 1; display: flex; }
.folder-compare-view .lists .list-changes { width: 59px; }
.folder-compare-view .lists .list-scrollbar { width: 16px; }

::-webkit-scrollbar { width: 0; }

.folder-compare-view .lists .header { width: 100%; display: flex; flex: 0; }
.folder-compare-view .lists .body { overflow-y: auto; height: 100%; width: 100%; display: flex; flex: 1; position: relative; }
.folder-compare-view .lists .body > * { z-index:10; border: 1px solid black; }
.folder-compare-view .lists .body canvas {}
.folder-compare-view .lists .body .list-selectbar { z-index:5; position: absolute; height: 100%; width: 100%; }

.folder-compare-view .lists .tree { width: 100%; height: 100%; }
.folder-compare-view .lists .tree .codicon { display: flex; }

.folder-compare-view .lists .node { width: 100%; line-height: 28px; font-size: 16px; padding-left: 4px; }
.folder-compare-view .lists .node.selected { background-color: rgb(71 85 102); border-radius: 4px; }
.folder-compare-view .lists .node .content { margin: 2px 0; display: flex; align-items: center; }
.folder-compare-view .lists .node .ln-header { width: 20px; }
.folder-compare-view .lists .node .ln-header .arrow { cursor: pointer; transform: rotate(90deg); }
.folder-compare-view .lists .node.collapsed .ln-header .arrow { transform: rotate(0); }
.folder-compare-view .lists .node.collapsed > .node { display: none; }


.folder-compare-view .lists .node .ln-body { width: 100%; }

/* StatusBar */
.part.statusbar {
  height: 22px;
  width: 100%;
  display: flex;
  background-color: purple;
}