.popup-container { position: absolute;
  width: 100%; height: 100%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  z-index: 1;
}

.popup {
  border: 1px solid rgb(112,112,112);
  /* position: absolute;
  margin: auto;
  left: -50%; */
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /* -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%); */
  transform: translate(-50%, -50%);
}

.popup button {
  width: 86px; height: 28px;
  background: rgb(225,225,225);
  border-width: 1px; border-style: solid;
  border-color: rgb(173,173,173);
  margin-right: 8px;
}
.popup button:last-child { margin-right: 0; }

.popup button.disabled { background: rgb(204,204,204); border-color: rgb(191,191,191); }
.popup button:focus { border-color: rgb(0,120,215); border-width: 2px; }
.popup button:hover { background: rgb(229,241,251); border-color: rgb(0,120,215); }

.popup .titlebar {
  background-color: white;
  line-height: 19px;
  padding: 4px 8px;
}

.popup .titlebar span {}

.popup .titlebar a {
  position: absolute;
  right: 5px;
  width: 19px;
  height: 19px;
  font-size: 19px;
  padding: 0 4px;
}

.titlebar a:hover {
  background-color: rgb(229, 229, 229);
  cursor: pointer;
}

.titlebar a.close:hover {
  background-color: rgb(232, 17, 35);
  color: white;
}

.popup .content-area {
  background-color: rgb(240,240,240);
  padding: 12px;
}

/* List */
.list-view { border: 1px solid rgb(112,112,112); background-color: white; }
.list-view table { width: 100%; }
.list-view th {
  background: #f9f9f9;
  border-bottom: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  padding: 3px 6px 0 6px;
  font-weight: normal;
}
.list-view td {
  border-bottom: 1px solid #dcdcdc;
  padding: 3px 6px 0 6px;
  vertical-align: middle;
}
.list-view td input { padding-top: 2px; }
.list-view td label { margin-left: 5px; }


/* Select by State */
.sbs {}
.sbs .middle { display: flex; margin-top: 8px; }
/* .sbs .middle .left-area { flex: 1; }
.sbs .middle .right-area { flex: 1; } */
.sbs .middle .list-view { flex: 1; margin-right: 8px; }
.sbs .middle .list-view table {}
.sbs .middle .list-view th {}
.sbs .middle .list-view td {}
.sbs .middle .list-view td input {}
.sbs .middle .list-view td label {}

.sbs .middle .button-area { display: flex; flex-direction: column; margin-left: 12px; }
.sbs .middle .button-area button { margin-bottom: 8px; }
.sbs .middle .button-area button:last-child { margin-bottom: 0; }

.sbs .bottom { margin-top: 8px; }
.sbs .bottom input:nth-of-type(2) { margin-left: 16px; }
.sbs .bottom label { margin-left: 5px; }
/* Copy files */
.cf {
  display: flex;
  flex-direction: column; /* default: row(가로) */
}
.cf .line { line-height: 21px; }
.cf .line:nth-of-type(2) { margin-top: 2px; }
.cf .line label { min-width: 96px; display: inline-block; }
.cf .line input { margin-left: 5px; min-width: 320px; }
.cf .list-view { flex: 1; min-height: 215px; margin-top: 8px; }
.cf .button-area { text-align: right; margin-top: 8px; }